<h1>Welcome to Tic Tac Toe</h1>


<div id="grid">
  <% @grid.each_with_index do |cell, index| %>
    <% if (index + 1) % 3 == 0 %>
      <form action='/game' method='POST'>
        <input type="hidden" name="<%= cell %>" value= "<%= cell %>" >
        <div class="button"><button type='submit'><%= cell %></button></div>
      </form>
    <% else %>
      <form action='/game' method='POST'>
        <input type="hidden" name="<%= cell %>" value= "<%= cell %>" >
        <div class="button"><button type='submit'><%= cell %></button></div>
      </form>
    <% end %>
  <% end %>
</div>


